body{
}
.wrap{
    /*! max-width: 1080px; */
    margin: 0 auto;
}

/* padding */
.padding50{
    padding: 50px;
}
.paddingT50{
    padding-top: 50px;
}
.paddingR50{
    padding-right: 50px;
}
.paddingB50{
    padding-bottom: 50px ;
}
.paddingL50{
    padding-left: 50px;
}

/* margin */
.margin50{
    margin: 50px;
}
.marginT50{
    margin-top: 50px !important;
}
.marginR50{
    margin-right: 50px;
}
.marginB50{
    margin-bottom: 50px !important;
}
.marginL50{
    margin-left: 50px;
}

/* h */
.h1{
    font-size: 80px;
    font-weight: bold;
}
.h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
}
.h3{
    font-size: 32px;
}
.h4{
    font-size: 20px;
}
.h5{
    font-size: 18px;
}
.h6{
    font-size: 15px;
}
.p{
    font-size: 15px;
}
.p14{
    font-size: 14px;
    line-height: 1.6px;
}

.yellow{
    color: #ffcd03;
}



/* block , 인라인 */
.block{
    display: block;
}

/* 정렬 */
.flex{
    display: flex;
}
.between{
    justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.grid24{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto;
}
.center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
/* 둥근모서리 */
.borderR30{
    border-radius: 30px;
}

/* 라인 */
.line{
    border-left: 1px solid #ccc;
    height: 16px;
    display: inline-block;
    margin: 0 10px;
}

/* 안보이게 */
.hide{
    display: none;
}
/* height */
.vh100{
  height: 100vh;
  box-sizing: border-box;
}

.h100{
  height: 100%;
}

button{
    cursor: url('../img/icon_cursor.svg') 14 12, auto;
}