body{
    font-family:'Raleway','Noto Sans KR',sans-serif; 
    font-size:14px; 
    line-height:1.2; 
    color:#2d2d2d;
    vertical-align:baseline; 
    word-break:keep-all; 
    word-wrap: break-word;
}