main{

}
section:nth-child(odd){
/*   background-color: #eee; */
}
section#point{
  display: flex;
  flex-direction: column;
  background-color: #ffca00;
}
section#point .wrap{

}
section#point .wrap>*{
  transform: translateX(50%);  
/*  wrap안에 있는 모든 자식들에게만 적용  */
  margin: 70px;
}


section#point .wrap h2{
  font-weight: 200;
  font-size: 50px;
}
section#point .wrap p{
  color: #555;
}