footer{color: 111;
   .wrap{color: 111;
      h1{color: 111;

      }
      ul.fnb{color: 111;
         li{color: 111;
            a.p{color: 111;

            }
         }
      }
      ul.sns{color: 111;
         li{color: 111;
            a{color: 111;

            }
         }
      }
      address{color: 111;
         span{color: 111;

         }
         a.p{color: 111;

         }
      }
      p{color: 111;

      }
      div.combobox{color: 111;
         div.partner{color: 111;
            button{color: 111;

            }
            dl{color: 111;
               dt{color: 111;

               }
               dt{color: 111;

               }
            }
         }
      }
      div.lang{color: 111;
         button{color: 111;

         }
         ul{color: 111;
            li{color: 111;
               a{color: 111;

               }
            }
         }
      }
   }
}